manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: inorichi
      url-base: https://github.com/inorichi
    - name: badjeff
      url-base: https://github.com/badjeff  
    - name: ssbb
      url-base: https://github.com/ssbb
    - name: zettaface
      url-base: https://github.com/zettaface
    - name: iwk7273
      url-base: https://github.com/iwk7273

  projects:
    # https://github.com/zmkfirmware/zmk
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml

    # https://github.com/inorichi/zmk-pmw3610-driver
    - name: zmk-pmw3610-driver
      remote: inorichi
      revision: main
      path: modules/zmk-pmw3610-driver

    # https://github.com/badjeff/zmk-input-processor-report-rate-limit
    - name: zmk-input-processor-report-rate-limit
      remote: badjeff
      revision: main
      path: modules/zmk-input-processor-report-rate-limit

    # https://github.com/ssbb/zmk-listeners
    - name: zmk-listeners
      remote: ssbb
      revision: v1

    - name: zmk-output-behavior-listener
      remote: badjeff
      revision: main

    - name: zmk-input-processor-keybind
      remote: zettaface
      revision: main

    - name: zmk-feature-scaling
      remote: iwk7273
      revision: main
      import: west.yml

  self:
    path: config
