manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/petejohanson
    - name: inorichi
      url-base: https://github.com/inorichi
    - name: badjeff
      url-base: https://github.com/badjeff  
    - name: ssbb
      url-base: https://github.com/ssbb
    - name: zettaface
      url-base: https://github.com/zettaface
    - name: kloir-z
      url-base: https://github.com/kloir-z

  projects:
    - name: zmk
      remote: zmkfirmware
      revision: feat/pointers-move-scroll
      import: app/west.yml
    - name: zmk-pmw3610-driver
      remote: inorichi
      revision: main

    # https://github.com/badjeff/zmk-input-processor-report-rate-limit
    - name: zmk-input-processor-report-rate-limit
      remote: badjeff
      revision: main
      path: modules/zmk-input-processor-report-rate-limit

    # https://github.com/ssbb/zmk-listeners
    - name: zmk-listeners
      remote: ssbb
      revision: v1

    # https://github.com/badjeff/zmk-output-behavior-listener
    - name: zmk-output-behavior-listener
      remote: badjeff
      revision: main

    # https://github.com/zettaface/zmk-input-processor-keybind
    - name: zmk-input-processor-keybind
      remote: zettaface
      revision: main

  self:
    path: config
