manifest:
  remotes:
    - name: kloir-z
      url-base: https://github.com/kloir-z
    - name: badjeff
      url-base: https://github.com/badjeff  
    - name: ssbb
      url-base: https://github.com/ssbb
    - name: zettaface
      url-base: https://github.com/zettaface

  projects:
    - name: zmk
      remote: kloir-z
      revision: main
      import: app/west.yml
    - name: zmk-pmw3610-driver
      remote: kloir-z
      revision: scroll-acceleration-feature 

    # https://github.com/badjeff/zmk-input-processor-report-rate-limit
    - name: zmk-input-processor-report-rate-limit
      remote: badjeff
      revision: main
      path: modules/zmk-input-processor-report-rate-limit

    # https://github.com/ssbb/zmk-listeners
    - name: zmk-listeners
      remote: ssbb
      revision: v1

    - name: zmk-output-behavior-listener
      remote: badjeff
      revision: main

    - name: zmk-input-processor-keybind
      remote: zettaface
      revision: main

  self:
    path: config
